.specs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0;

  & .spec {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 1px 20px;
    margin: 0 5px;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: .8em;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      width: 20px;
      background: url('/img/correct.svg') center no-repeat;
      background-size: 63%;
    }

    &.disabled {
      opacity: .5;
      text-decoration: line-through;
  
      &::after {
        background: url('/img/wrong.svg') center no-repeat;
        background-size: 63%;
      }
    }
  }

  

  
}

