.dish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px dotted tomato;

  &:first-of-type {
    padding-top: 1em;
  }

  &:last-of-type{
    border-bottom: none;
  }
}

button {
  padding: 5px 10px;
  background: rgba(255, 99, 71, .3);
  border-radius: 5px;
  border: 2px solid tomato;
  transition: .4s;

  &:hover {
    background: rgba(255, 99, 71, .4);
  }
}

.dishesContainer {
  min-height: calc(100vh - 3em) ;
}

.menuButton {
  position: absolute;bottom: 0;

  &:last-of-type {
    margin-left: 100px;
  }
}

.pagination {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  text-align: center;
  width: 100%;

  & div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #fff;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }
  // height: 300px;
}

.curentPagination {
  color: red
}