.dish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px dotted tomato;

  &:first-of-type {
    padding-top: 3em;
  }

  &:last-of-type{
    border-bottom: none;
  }
}

button {
  padding: 5px 10px;
  background: rgba(255, 99, 71, .3);
  border-radius: 5px;
  border: 2px solid tomato;
  transition: .4s;

  &:hover {
    background: rgba(255, 99, 71, .4);
  }
}