$red: rgb(255, 99, 71);
$green: rgb(22, 160, 133);
$lightGray: hsl(0, 0%, 80%);
$darkGray: rgb(136, 136, 136);
$darkRed: rgb(187, 67, 54);
$black: rgb(46, 49, 49);
$mainShadow: 0px 5px 15px 0px rgba(0,0,0,0.27);
$shadowHalfOpacity: 0px 5px 15px 0px rgba(0,0,0,0.15);