@import '../../../globalStyles/colors.scss';

@font-face {
  font-family: NunitoRegular;
  src: url(/fonts/Nunito-Regular.ttf) format('truetype');
}

* {
  font-family: NunitoRegular;
}

.orderCircle {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: .6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background: $green url(/img/shopping-cart.png) no-repeat center;
  background-size: 40%;
  cursor: pointer;
  padding: 0;
  border: 0px solid $green;
  box-shadow: $mainShadow;
  transition: padding 0.2s, border 0.3s ease ;

  &:hover {
    padding: 5px;
  }

}

.bigCircle {
  padding: 5px;
  border: 2px dotted white;
}

.popup {
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);

  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgb(136, 136, 136);
  border-radius: 10px;
  left: 5px;
  top: 5px;
  transform: translateX(0%);
  transition: transform 0.5s, border-top-left-radius .67s;
  opacity: 1;
  overflow: scroll;

  & i {
    display: block;
  }

  & button {
    position: fixed;
    bottom: 10px;
    
    &:first-of-type {
      left: 25%;
    }

    &:last-of-type {
      right: 25%;
    }

    &:not(:disabled){
      cursor: pointer;
    }
  }
}

.unvis {
  border-top-left-radius: 50% ;
  transform: translateX(110%) translateY(110%);

  & i {
    display: none;
  }
}

.emptyBasket {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  & p{
    padding: 10px 0;
    font-size: calc(1vw + 1vh + 1vmin);
    text-align: center;
  }
}

.visible .orderItem {
  padding: 5px;
  text-align: justify;
}

.close {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: url(/img/cancel.png) center no-repeat;
  background-size: 60%;
  transition: background-size .3s;

  &:hover {
    background-size: 75%;
    cursor: pointer;
  }
}

.orderContent {
  width: 80%;
  color: #000;
  transition: color .3s;
  max-width: 600px;
  height: 90%;
  max-height: 90%;
  overflow: scroll;

  & .disabledItem {
    text-decoration: line-through;
    position: relative;

    &:after {
      content: 'unavailable today';
      position: absolute;
      padding: 0 10px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: red;
      border: 1px solid red;
    }
  }

  & .orderItem {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, .2);
    margin-bottom: 5px;
    position: relative;

    &:hover {
      color: rgb(179, 68, 48)
    }
  }

  i {
    width: 15px;
    height: 10px;
    margin-left: 50px;
    position: absolute;
    right: 5px;
    top: 0px;
    transform: translateY(100%);
    cursor: pointer;
    & img {
      width: 100%;
    }
  }
}

.price {
  position: absolute;
  top: 10px;
  right: 10px;
}

@import './media.scss'