// @font-face {
//   font-family: Nunito;
//   src: url(/fonts/Nunito-Regular.ttf) format('truetype');
// }

.card {
  border: 2px solid red;
  padding-top: 1em;
  position: relative;

  & p {
    padding: 5px 0;

    &.dishType {
      position: absolute;
      top: 0;
      right: 9px;
    }
  }

  .imgPlaceHolder {
    width: 300px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    
    & img {
      width: 100;
      height: 100%;
    }
  }
}

.dish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  
  & p {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 90%;  
    white-space: nowrap;
    text-align: center;
  }

  &:nth-child(odd) {
    margin-left: 20%;
  }
  &:nth-child(even) {
    margin-right: 20%;
  }

  &:first-of-type, &:nth-child(2) {
    margin-top: 1em;
  }

  &:last-of-type{
    border-bottom: none;
  }
}

button {
  padding: 5px 10px;
  background: rgba(255, 99, 71, .3);
  border-radius: 5px;
  border: 2px solid tomato;
  transition: .4s;

  &:hover {
    background: rgba(255, 99, 71, .4);
  }
}

.dishesContainer {
  min-height: calc(100vh - 3em) ;
  // max-width: 1150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  margin-bottom: 5%;
}

.menuButton {
  position: absolute;
  bottom: 0;

  &:last-of-type {
    margin-left: 100px;
  }
}

.pagination {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  text-align: center;
  width: 100%;

  & div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #fff;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }
  // height: 300px;
}

.curentPagination {
  color: red
}

@import './media.scss'