@import '../../../../globalStyles/colors.scss';

a {
  color: $red;
  text-decoration: none;
}

.slider_container {
  margin-top: 4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  max-width: 900px;
  // height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
 
  & input[type="radio"] {
    position: absolute;
    opacity: 0;
    bottom: 0;
  }
}

.slider_nav {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
}

.control {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background: rgba($red, .5);
  }
}

.slides {
  width: 300%;
  height: 100%;
  display: flex;
  transition: .9s;

  & .slide {
    width: calc(100% / 3);
    transition: 0.6s;
    border-radius: 10px;
    max-height: 75vh;
    position: relative;

    & .slideLable {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 50%;
      transform: translateX(-50%) translateY(-50%);

      font-size: calc(2vw + 2vh + 2vmin); 
      color: #fff;
      background-color: rgba(255, 255, 255, .2);
      border: 1px solid #fff;
      padding: 20px;
      text-align: center;
      z-index: 10;

    }

    & img {
      width: 100%;
      height: auto;
      filter: saturate(30%);
    }
  }
}

#r1:checked {
  & ~ .slides {
    margin-left: 0;
  }

   & ~ .slider_nav .c1 {
    background: rgba($red, .7);
  }
}

#r2:checked {
  & ~ .slides {
    margin-left: -100%;
    // transform: translateX(-25%)
  }

  & ~ .slider_nav .c2 {
    background: rgba($red, .7);
  }
}

#r3:checked {
  & ~ .slides {
    margin-left: -200%;
  }

  & ~ .slider_nav .c3 {
    background: rgba($red, .7);
  }
}

