.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 20;
  background: #fff;
  transform: translateY(0%);
  transition: transform .5s;

  & .closeSearch {
    position: absolute;
    right: 0;
    // top: 0;
    // right: 100px;
    width: 48px;
    height: 48px;
    background: url('/img/cancel.png') no-repeat center;
    background-size: 65%;

  }

  &.hideSearch {
  // display: none;
  transform: translateY(-100%);
}
  
}

