@font-face {
  font-family: NunitoRegular;
  src: url(/fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: NunitoBold;
  src: url(/fonts/Nunito-Bold.ttf) format('truetype');
}

@font-face {
  font-family: NunitoLight;
  src: url(/fonts/Nunito-ExtraLight.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #ccc;
  max-width: 100%;
  overflow-x: hidden;
}

.block {
  min-height: calc(100vh - 3em);
  max-width: 1200px;
  margin: auto;
  padding-top: 3em;
  position: absolute;
  left:0;
  right:0;
  margin: auto;
  font-family: NunitoRegular;

  // height: calc(100% - 3em);
  background: #ccc;

  // &:first-of-type {
  //   padding-top: 3em;
  // }
}

#root {
  position: relative;
}

@media only screen and (max-width: 660px) { 
  html {
    background: #ccc;
    max-width: 100%;
    overflow-x: hidden;
  }

  .block {
    padding-top: 0;
  }
}